* {
  margin: 0px;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: white;
  font-size: 100%;
  margin: 0;
}

header {
  margin: 0px;
  padding: 1px;
  max-width: 100%;
  background-size: 20px;
  background-image: url(./assets/headerBack2.jpg);
}
#logopic {
  width: 39rem;
}

.ul1 li {
  list-style-type: none;
  background: url(./assets/Play.png) top left no-repeat;
  background-size: 30px;
  padding-left: 40px;
}

#collectList li {
  list-style-type: none;
  background: url(./assets/Collect.png) left no-repeat;
  background-size: 20px;
  padding-left: 40px;
}

/* Here I'll put all the media specifications: */
/* Some fixes for ultra wide screens */
@media (max-width: 2505px) {
  #galleryfigdiv {
    max-width: 750vw;
  }
}

@media (min-width: 2688px) {
  body {
    max-width: 60%;
    margin: 0 auto !important;
    float: none !important;
  }
  #galleryfigdiv {
    grid-template-columns: repeat(auto-fit, minmax(450px, 0.7fr));
    grid-gap: 2%;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 90%;
  }
}
/*Tablet sized*/
@media (max-width: 61.25em) {
  html {
    font-size: 80%;
  }
  #thetagline {
    margin-left: 8rem;
    max-width: 80%;
  }

  #form1 {
    min-width: 50%;
    padding: 1rem;
  }

  #form1 .infoInput {
    width: 50%;
  }
}
/* The following media is smartphone sized, so it needs the most changes, especially the nav. */
@media (max-width: 28.75em) {
  html {
    font-size: 72%;
  }
  nav {
    width: 100%;
    margin-top: 0rem;
    align-items: center;
    border: silver;
    border-top-style: none;
    border-bottom-style: dotted;
    border-width: 1pt;
    position: fixed !important;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(black, red, black);
    width: 99%;
    text-align: center;
    margin: 0rem 1rem 0rem 0rem !important;
    line-height: 0rem !important;
    font-family: "Roboto", sans-serif !important;
    padding: 1rem 1rem 1rem 0.5rem !important;
    position: fixed;
  }

  .nav-list li {
    border: 1.5px solid #4e51f3;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: black;
    margin-right: 3px;
    line-height: 1.5rem;
  }

  .nav-list li a:focus {
    background-color: grey;
  }
  #form1 {
    min-width: 50%;
    margin: 0;
    padding: 1rem;
  }

  #form1 .infoInput {
    width: 80%;
  }

  #logo {
    font-size: 1rem !important;
    margin-top: 4rem;
  }

  #logopic {
    margin-top: 2rem;
    width: 25rem;
    align-items: center;
    margin-right: 1rem;
  }
  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem 0rem -0.5rem;
    font-size: 1rem;
  }
  #thetagline {
    margin-left: 3rem;
    max-width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  #tetris {
    align-items: center;
  }

  #intro,
  #overview,
  #guide {
    margin: 1rem;
  }
  #tetrisfigure,
  #topimage {
    align-items: center;
    float: none;
    margin: 2rem 3rem 1rem 1rem;
    box-shadow: none;
  }
  #galleryfigdiv {
    width: 250px;
    margin: 0;
  }
  #galleryfigdiv img {
    width: 100%;
  }

  #galleryfigdiv figure {
    width: 87%;
  }

  #gallery1 {
    margin: 0.5rem;
  }
  #footer {
    color: white;
  }
}

ul {
  list-style: circle;
  font-size: 1.2rem;
  margin-left: 1rem;
}

ol {
  font-size: 1.2rem;
}

blockquote {
  background: linear-gradient(black, red, black);
}

dt {
  font-size: 1.7rem;
  font-family: "Michroma", sans-serif;
  margin: 2rem 0rem 1rem 0rem;
}
dl {
  font-size: 1.4rem;
  margin: 2rem;
}
h1 {
  margin: 0;
  color: #e6000f;
  font-family: "Michroma", sans-serif;
  font-size: 3.8rem;
}
#navbar {
  list-style: none;
  position: fixed !important;
  font-size: 1.3rem;
  text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.719);
}
.thenav a:visited {
  text-decoration: none;
  font-weight: normal;
  color: aliceblue;
}
.thenav a:hover {
  color: #4e51f3;
  text-shadow: none;
}

h2 {
  font-family: "Michroma", sans-serif;
  font: smaller;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-size: 1.9rem;
}

blockquote {
  font-size: 1.7rem;
  font-style: oblique;
  padding: 1rem;
  border-style: dashed;
}
p {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 1.5rem;
}

body {
  background-image: url(assets/background2.gif);
  background-color: #140207;
  background-repeat: repeat-x;
  margin: 0px;
}

.nav-list {
  list-style: none;
  padding: 2rem 0rem;
  width: 96%;
  margin-top: 5rem;
  line-height: 5rem;
  font-family: "Michroma", sans-serif;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  min-width: 80%;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  /* margin: !important; */
}

.meat {
  max-width: 80wv;
  margin: 2rem 7rem 1rem 10rem;
}

/* Remember the link attributes have to be in the correct order (link, visited, hover, and active) to operate correctly. */
a:link {
  text-decoration: none;
  color: #f1eeeb;
}

a:visited {
  color: #96846b;
}

a:hover {
  color: #4e51f3;
}

a:active {
  color: #e6000f;
}

#tagline {
  font-size: 0.9rem;
}

a.title:visited {
  color: #e6000f;
  text-decoration: none;
  font-weight: normal;
}

a.tagline:visited {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.othersites {
  list-style: decimal !important;
}

a.navlist:visited {
  text-decoration: none;
  color: white !important;
  font-weight: normal;
}

/* Front page image settings */
.right_flex {
  float: right;
}

.frontpageimage {
  width: 20rem;
  box-shadow: 2px 6px 15px red;
}
#tetris {
  max-width: 20rem;
}

figcaption {
  font-size: 1rem;
  font-style: italic;
  max-width: 100%;
  margin-top: -2.5rem;
  background-color: #e6000f;
  opacity: 0.7;
}

/* Gallery information */

#gallery1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 90vw;
}

.galleryfig {
  align-items: center;
  align-self: center;
  min-width: 25vw;
  min-height: 3rem;
  margin: 0rem;
  border-style: double;
}

.gallerydiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 0.7fr));
  grid-gap: 2%;
  width: 100%;
  margin: 0 auto;
}

.galleryimg {
  align-items: center;
  width: 100%;
  object-fit: cover;
}

.gallerycap {
  border-color: #4e51f3;
  border-width: 1pt;
  border-style: dashed;
  padding: 0.5rem;
  font-size: 1rem;
  font-style: normal;
}
#backToTop {
  position: relative;
  bottom: -3rem;
}

/* Keeping the footer down, wrapper */

#page-container {
  position: relative;
  min-height: 100vh;
  max-width: 1500px;
  min-width: 200px;
  margin: 0 auto;
}

#content-wrap {
  padding-bottom: 5rem; /* Footer height */
  box-shadow: 2px 1px 5px rgba(255, 0, 0, 0.404);
}

#footer {
  position: absolute;
  font-size: 0.6em;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 0rem; /* Footer height */
}

/* Form formatting */

form.form1 fieldset {
  border: 1px solid #4e51f3;
  border-radius: 1rem;
  padding: 1rem 2%;
}

form.form1 legend {
  font-size: 0.8rem;
  color: #e6000f;
}
form.form1 label {
  display: block;
}

form.form1 span {
  display: block;
  padding-top: 1rem;
  font-size: 0.8rem;
}

form.form1 .infoInput {
  font-weight: 600;
  border-radius: 1rem;
  width: 30%;
}

form.form1 .storyText {
  width: 70%;
  height: 4rem;
  border-radius: 1rem;
}

form.form1 .submitButton {
  background-color: black;
  color: #e6000f;
  padding: 1rem;
  font-size: 1rem;
  border: 1px dashed aliceblue;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.thenav a:focus {
  background-color: rgb(114, 114, 114);
}

.thenav a:active {
  background-color: rgb(114, 114, 114);
  color: red;
}

#selector {
  width: 300px;
}
