* {
  margin: 0px;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  font-size: 100%;
  margin: 0;
}

header {
  margin: 0px;
  padding: 1px;
  max-width: 100%;
}

/* Here I'll put all the media specifications: */
@media (max-width: 75em) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 80%;
  }
  #thetagline {
    margin-left: 8rem;
    max-width: 80%;
  }
}
/* The following media is smartphone sized, so it needs the most changes, especially the nav. */
@media (max-width: 28.75em) {
  html {
    font-size: 75%;
  }
  nav {
    width: 100vw;
    margin-top: 0rem;
    align-items: center;
    border: silver;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 1pt;
  }
  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(230, 0, 15);
    width: 95%;
    text-align: center;
    margin: 0rem 1rem 0rem 0rem !important;
    line-height: 0rem !important;
    font-family: "Roboto", sans-serif !important;
    padding: 2rem 3rem 2rem 0rem !important;
  }

  .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem 0rem 1rem;
    font-size: 1rem;
  }
  #thetagline {
    margin-left: 3rem;
    max-width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  #intro,
  #overview,
  #guide,
  #gallery,
  #gallery1 {
    margin: 1rem;
  }
  #tetrisfigure,
  #topimage {
    align-items: center;
    float: none;
    margin: 2rem 3rem 1rem 1rem;
  }
  #galleryfigdiv {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
  }
}

ul {
  list-style: circle;
  font-size: 1.4rem;
  margin-left: 1rem;
}

ol {
  font-size: 1.2rem;
}

dt {
  font-size: 1.7rem;
  font-family: "Michroma", sans-serif;
  margin: 2rem 0rem 1rem 0rem;
}
dl {
  font-size: 1.4rem;
  margin: 2rem;
}
h1 {
  margin: 0;
  color: #e6000f;
  font-family: "Michroma", sans-serif;
  font-size: 3.8rem;
}
#navbar {
  list-style: none;
  position: fixed;
  font-size: 1.5rem;
}
a.navbar:visited {
  text-decoration: none;
  font-weight: normal;
  color: aliceblue !important;
}
h2 {
  font-family: "Michroma", sans-serif;
  font: smaller;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-size: 1.9rem;
}

blockquote {
  font-size: 1.7rem;
  font-style: oblique;
  padding: 1rem;
  border-style: dashed;
}
p {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 1.5rem;
}

body {
  max-width: 100%;
  margin: 0px;
}

.nav-list {
  list-style: none;
  padding: 2rem 0rem;
  width: 96%;
  margin-top: 5rem;
  line-height: 5rem;
  font-family: "Michroma", sans-serif;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  min-width: 80%;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  margin: 0px !important;
}

.meat {
  max-width: 80wv;
  margin: 2rem 7rem 1rem 10rem;
}

footer {
  font-size: 0.6em;
  text-align: center;
  position: absolute;
  width: 100%;
}
/* Remember the link attributes have to be in the correct order (link, visited, hover, and active) to operate correctly. */
a:link {
  text-decoration: none;
  color: #f1eeeb;
}

a:visited {
  color: #96846b;
}

a:hover {
  color: #4e51f3;
}

a:active {
  color: #e6000f;
}

#tagline {
  font-size: 0.9rem;
}

a.title:visited {
  color: #e6000f;
  text-decoration: none;
  font-weight: normal;
}

a.tagline:visited {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.othersites {
  list-style: decimal !important;
  text-indent: 30px 10px;
}

a.navlist:visited {
  text-decoration: none;
  color: white !important;
  font-weight: normal;
}

/* Front page image settings */
.right_flex {
  float: right;
}

.frontpageimage {
  align-items: right;
  width: 100%;
}
#tetris {
  max-width: 20rem;
}

figcaption {
  font-size: 0.7rem;
  font-style: italic;
  max-width: 100%;
  margin-top: -2rem;
  background-color: #e6000f;
  opacity: 0.8;
}

/* Gallery information */

#gallery1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.galleryfig {
  align-items: center;
  align-self: center;
  min-width: 25vw;
  margin: 2rem;
  border-style: double;
}

.gallerydiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2.5rem;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
}

.galleryimg {
  align-items: center;
  width: 100%;
  object-fit: cover;
}

.gallerycap {
  border-color: #4e51f3;
  border-width: 1pt;
  border-style: dashed;
  padding: 1rem;
  font-size: 1rem;
  font-style: normal;
  margin-top: -3rem;
}
