
* {
    margin: 0px;

}

html {
    font-family:'Roboto', sans-serif; 
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    font-size: 100%;
    margin: 0;
}

header {
    margin: 0px;
    padding: 1px;
    max-width: 100%;
    
    
}

/* Here I'll put all the media specifications: */
@media (max-width: 75em) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 80%;
    }
}
/* The following media is smartphone sized, so it needs the most changes. */
@media (max-width: 28.75em) {
    html {
        font-size: 70%;
       
    }
    nav {
        width: 100%;
        margin-top: 0rem;
        align-items: center;
        
    }
    .nav-list{
        display:flex;
        justify-content: space-around;
        align-items: center;
        background: rgb(230, 0, 15);
        width: 95%;
        text-align: center;
        margin: 0px;       
    }
    #navbar{
        align-items: center;
    }
    .navlist{
        padding: 1rem;
    
    }
    .title{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem 0rem 1rem;
    font-size: 1rem;
    
    }
    .tagline{
        font-size: 1rem;
        text-align: center;
    }
   
    #intro, #overview, #guide{
    margin: 1rem;

    }

}

ul {
    list-style: circle;
    font-size: 1.4rem;
    margin-left: 1rem 
}
ol{
    font-size: 1.2rem;
}
dt{
    font-size: 1.7rem;
    font-family: "Michroma", sans-serif;
    margin: 2rem 0rem 1rem 0rem;

}
dl{
   font-size: 1.4rem; 
}
h1 {
    margin: o;
    color: #E6000F;
    font-family: 'Michroma', sans-serif;
    font-size: 3.8rem;
}
nav {
    list-style: none;
    position: fixed;
    font-size: 1.5rem;

}
h2 {
    font-family: 'Michroma', sans-serif;
    font: smaller, bold;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 1.9rem
}

blockquote{
    font-size: 1.7rem;
    font-style: oblique;
    padding: 2rem; 
}
p {
    margin: 2rem 1rem 2rem 1rem;
    font-size: 1.5rem;
}

body {
 max-width: 100%;
 margin:0px;   
}

.nav-list{
  list-style: none;
  padding: 0.5rem;
  width: 100%;
} 

#logo {
   display:flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    min-width: 80%;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
    margin: 0px !important
    

}

.meat{
    max-width: 80wv;
    margin: 2rem 7rem 1rem 7rem;
    
}

footer{
    font-size: 0.6em;
    text-align: center;   
}
/* Remeber the link attributes have to be in the correct order (link, visited, hover, and active) to operate correctly. */
a:link{
    text-decoration: none;
    color: #f1eeeb  
}

a:visited{
    color:#96846b
}

a:hover{
    color: #4e51f3
}

a:active{
    color: #E6000F
}

#tagline{
    font-size: 0.9rem;
    }

a.title:visited{
    color: #E6000F;
    text-decoration: none;
    font-weight: normal;
}

.othersites{
    list-style: none !important;
}